*{
  margin : 0px;
  padding : 0px;
  font-family: 'NanumSquareRoundBold';
}

header {
  height : 100px;
  width : 100%;
  background-color: aqua;
}

main{
  width : 100%;
  height : 1292px;
  /* background-color :antiquewhite; */
  display: flex;
}

#sidebar{
  height : 100%;
  width : 18%;
  background-color : yellow;
}

#contents{
  height : 100%;
  width : 82%;
  /* background-color: aliceblue; */
  display : flex;
  flex-direction: column;
}

#contentsHeader{
  width : 100%;
  height : 180px;
  display : flex;
  align-items: center;
}

#contentsHeader img{
  margin : 0px 0px 0px 82px;
}

#contentsHeader span{
  margin : 0px 0px 0px 14px;
  font-size : 40px;
}

#contentsMain{
  width : 100%;
  height : 1112px;
}

#mentoringBack{
  border: 1px solid #D9E2F0;
  height : 1058px;
  width : 1438px;
  margin-top: 27px;
  margin-left: 21px;
  background: linear-gradient(#F8FBFF,#FDFEFF);
  border-radius: 18px;
  display : flex;
  justify-content: space-between;
}

#mentoring{
  border: 1px solid #D9E2F0;
  border-radius: 18px;
  background: linear-gradient(#FFFFFF,#F8FBFF)
}

#mentoringMain, #profile{
  margin-top : 37px;
  margin-left : 20px;
}

#mentoring{
  height: 260px;
  width : 862px;
}

#mentoring .subject, #mentoring #title{
  height: 50px;
  display : flex;
  align-items: center;
  margin-left : 20px;
}

#mentoring div label{
  font-size : 12.2px;
  width : 75px;
}

#mentoring div input[type="text"]{
  width : 285px;
  height : 33px;
  border-radius: 18px;
  border: 1px solid #D9E2F0;
  padding-left: 20px;
}

#mentoring #purpose{
  height : 104px;
  display : flex;
  padding-left : 20px;
  padding-top : 6px;
}

#mentoring textarea{
  width : 719px;
  height : 68px;
  border: 1px solid #D9E2F0;
  border-radius: 18px;
  resize : none;
  padding-left: 20px;
  padding-top : 10px;
}

#mentoringCurriculum{
  border: 1px solid #D9E2F0;
  border-radius: 18px;
  margin-top : 18px;
  padding-top : 20px;
  padding-left:20px;
  display : flex;
  flex-direction: column;
}

#mentoringCurriculum #text{
  display : flex;
  flex-direction: column;
}

#mentoringCurriculum #text textarea{
  margin-top: 20px;
  padding: 20px;
  width : 781px;
  height : 458px;
  border: 1px solid #D9E2F0;
  border-radius: 18px;
  resize : none;
}

#mentoringCurriculum #file{
  padding-bottom: 20px;
}

#mentoringCurriculum #file #curriculumFileTitle{
  font-size: 14px;
  padding:20px 0px 10px 0px;
}

#mentoringCurriculum #file #curriculumFile{
  border: 1px solid black;
  width: 409px;
  height: 25px;
  padding : 10px;

}

#profile img{
  border: 1px solid black;
  margin-right: 184px;
}

footer{
  height : 163px;
  background-color : greenyellow;
}